header.site-header
	.logo
		img(src="img/logo.png", alt="logo")
	.top-header
		.company-name
			|NAUSHNIKI
			span.company-name__descr
				|магазин беспроводных наушников
		a(class="phone-number" href="tel:+79999999")
			.phone
				|+7 (999) 999-99-99
				span.phone__text
					|Ждем Вашего звонка с 10:00 до 23:00
	.bottom-header
		include _nav